@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
html {
  scroll-behavior: smooth;
  background-color: black;
}

.skill-item {
  position: relative;
  margin: 0.7em 0.2em;
}

.skill-item img {
  height: 10vh;
  transition: transform 0.3s;
  filter: invert(1);
}

.skill-item img:hover {
  transform: scale(1.1);
}

.skill-item:hover .tooltip {
  visibility: visible;
}
