@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
body {
  background-color: whitesmoke;
}

/* general */
main {
  width: 93%;
  margin: 0 auto;
}
p {
  font-size: 1.3em;
  line-height: 1.6em;
}

h1 {
  font-size: 2.7em;
  line-height: 0.9em;
}

h2 {
  font-size: 2.2em;
}

.heading-sub-text {
  font-size: 1.4em;
  padding-left: 1em;
}

/* navigation */
nav {
  width: 100%;
  min-height: 8vh;
  background-color: rgb(0, 23, 44);
  color: #333;
  display: flex;
}

nav ul {
  padding-left: 5vw;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

nav ul li {
  padding: 10% 1em;
  width: auto;
}

nav ul li:hover {
  background-color: rgb(0, 11, 20);
}

.nav-inner-left {
  display: flex;
}

a {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.3em;
  padding: 1em 0;
}

a {
  color: #333;
}

.github-icon-nav {
  width: 8vw;
  align-items: center;
  filter: invert(1);
  color: white;
}
.github-icon-nav:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

/* hero */
.hero-wrapper {
  padding-top: 2em;
}
.portrait {
  width: 95%;
  padding-top: 4em;
  padding-left: 1em;
}

.bird-svg {
  display: block;
  width: 25vw;
  padding-top: 5em;
  padding-bottom: 5em;
  margin: 0 auto;
}

/* about */
.about-container {
  padding-bottom: 4em;
}

/* skills */
.skills-container {
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
}

.skill-item {
  position: relative;
  margin: 0.7em 0.2em;
}

.skill-item img {
  height: 10vh;
  transition: transform 0.3s;
}

.skill-item img:hover {
  transform: scale(1.1);
}

.tooltip {
  visibility: hidden;
  width: 120px;
  color: black;
  text-align: center;
  padding: 0.3em 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -20vw;
}

.skill-item:hover .tooltip {
  visibility: visible;
}

/* projects */
.project-container {
  display: flex;
  flex-direction: column;
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 1.2em 0;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.project-left h2 {
  font-size: 2em;
}

.project-right p {
  font-size: 1.1em;
}

.project-left img {
  padding: 1em 0;
  width: 100%;
}

.project-heading {
  padding-top: 0.7em;
}

.project-links {
  display: flex;
  gap: 1em;
  padding-top: 1em;
}

/* footer */
footer {
  margin-top: 1em;
  background-color: rgb(0, 23, 44);
  color: white;
  text-align: center;
  padding: 1.5em;
}

/* Media queries */

@media screen and (max-width: 360px) {
  .skill-item img {
    height: 9vh;
  }

  .bird-svg {
    width: 20vw;
  }
}

@media screen and (min-width: 520px) {
  .project-container {
    width: 90%;
  }

  .project-left img {
    padding: 1em 0;
    width: 95%;
  }

  .project-right p {
    font-size: 1.2em;
    width: 95%;
  }

  .github-icon-nav {
    width: 7vw;
  }
  .skills-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .bird-svg {
    width: 16vw;
  }

  .tooltip {
    margin-left: -15vw;
  }
}

@media screen and (min-width: 768px) {
  .github-icon-nav {
    width: 6vw;
  }

  .bird-svg {
    width: 15vw;
  }

  .tooltip {
    margin-left: -13vw;
  }

  main {
    width: 80%;
    margin: 0 auto;
  }
  .hero-right {
    width: 50%;
  }
  .hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .portrait {
    width: 80%;
  }
}

@media screen and (min-width: 1080px) {
  .project-right p {
    width: 95%;
  }

  .project-card {
    padding: 1em;
  }

  .github-icon-nav {
    width: 3.4vw;
  }
  h1 {
    font-size: 3.5em;
    line-height: 0.9em;
  }

  .hero-right {
    width: 60%;
  }

  .portrait {
    width: 85%;
  }

  main {
    width: 70%;
  }

  .tooltip {
    margin-left: -9vw;
  }

  .skills-container {
    width: 80%;
    margin-left: 10%;
  }

  .bird-svg {
    width: 10vw;
  }
  .portrait {
    width: 80%;
  }
  .tooltip {
    margin-left: -8vw;
  }
}
